{
  "installed": {
    "client_id": "YOUR_CLIENT_ID_HERE",
    "client_secret": "YOUR_CLIENT_SECRET_HERE",
    "redirect_uris": ["http://localhost:8080/oauth2callback"],
    "auth_uri": "https://auth.tdameritrade.com/auth",
    "token_uri": "https://api.tdameritrade.com/v1/oauth2/token"

  }
}